@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*
{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;

}
body{
    overflow-x: hidden;
    background: #ecebeba1;
}
/* .container {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
} */


/* CSS Navigation DEBUT */
.navigation{
    position: fixed;
    width: 280px;
    height: 100%;
    background: #fff;
    /* transition: 0.5s; */
}
.navigation .logo{
    position: absolute;
    top: -25px;
    /* display: block; */
    width: 180px;
    height: 134px;
    margin-left: 40px;
}
.navigation .logo img{
    width: 100%;
    height: 100%;
}
.navigation ul{
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    padding-left: 0;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    padding: 15px 0;
    cursor: pointer;
}
.navigation ul li:hover{
    background: #d27c2c;
}
.navigation ul #forum a .item-text{
    color: #d27c2c;
}
.navigation ul #forum a svg path{
    fill: #d27c2c;
}
.navigation ul li:hover a .item-text{
    color: #fff;
}
.navigation ul li:hover a svg path{
    fill: #fff;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    /* color: #fff; */
    padding-left: 2rem;
}
.navigation ul li a svg{
    position: relative;
    display: block;
    min-width: 25px;
    height: 25px;
    /* margin-bottom: 10px; */
    /* line-height: 60px; */
    text-align: center;
}
.navigation ul li a .item-text{
    position: relative;
    display: block;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    color: black;
    /* white-space: nowrap; */
}
/* CSS Navigation FIN */
.container {
    position: absolute;
    width: calc(100% - 100px);
    min-height: 100%;
    left: 260px;
    /* background: #d5dce0b0;
    transition: 0.5s; */
}

    /* Top bar Début */
    .container .topbar {
        position: fixed;
        width: 100%;
        background: #fff;
        height: 68px;
        padding: 0 10px;
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        z-index: 1;
    }
    .bienvenue {
        position: relative;
        width: 54%;
        margin: 10px 0 0 21px;
        /* margin-top: 10px; */
    }
    .bienvenue h3{
        font-family: 'Great Vibes', cursive;
        font-size: 50px;
    }
    .bienvenue h3 span{
        background: -webkit-linear-gradient(#FDC500, #0FA958);
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Great Vibes', cursive;
    }
    .container .topbar .boutonInscrip{
        position: relative;
        display: flex;
        margin-left: 8rem;
        margin-bottom: 5px;
        z-index: 1;
    }
    .boutonInscrip a{
        border-radius: 10px;
    }
    .boutonInscrip button{
        color: #d27c2c;
        border: 1px solid #d27c2c;
    }
    .boutonInscrip button:hover{
        color: #fff;
        background: #d27c2c;
    }
    .boutonInscrip a:first-child{
        margin-right: 10px;
    }
/* Top bar FIN */